<div class="card">
  <div class="card-header">
    <h2>Log in</h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false} } ) do |f| %>
      <div class="field form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-check", placeholder:"Email" %>
      </div>
      <div class="field form-group">
        <%= f.password_field :password, autocomplete: "current-password",class:"form-check", placeholder:"Password"%>
      </div>
      <br/>
      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-primary" %>
      </div>
      <br/>
    <% end %>
  </div>
</div>
<br/>
<%= render "devise/shared/links" %>
